.cart{
    padding: 0 75px;
}
.title-cart{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.title-cart h2{
    font-weight: 500;
    margin-right: 10px;
}
.title-cart a{
    padding:8px 10px;
    font-size: 1.2rem;
    background-color: #24aa98;
    text-decoration: none;
}